@charset "UTF-8";

:root {
    --cor: rgb(107, 107, 107);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
}


main {
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
caption {
    font-size: 1.3em;
    font-weight: bolder;
    padding: 8px;
}

table {
    width: 1000px;
    border-collapse: collapse;
}

tr.linha {
    background-color: black;
}

th, tr, td {
    border: 1px solid black;
    padding: 6px;
}

thead {
    background-color: var(--cor);
    color: white;
}

div.p {
    overflow: auto;
}

td {
    text-align: right;
}

.colorido {
    background-color: var(--cor);
    color: white;
}

.negrito {
    font-weight: bold
}

#pet {
    background-color: var(--cor);
}

hr {
    width: 100%;
    height: 2px;
    background-color: var(--cor);
}

footer {
    background-color: var(--cor);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(41, 5, 5)
}

